{% extends "base.html" %}

{% block actions %}
  {% if user %}
    <a class="login-link" href="/_edit{{page_id}}">edit</a>
    |
  {% endif %}
  <a class="login-link" href="{{page_id}}">view</a>
{% endblock %}

{% block content %}
  <br>
  <br>
  {% for page in pages %}
    <div class="row">
      <div class="col-md-3">
        {{page.created}}
      </div>
      <div class="col-md-7">
        {{page.content[0:100]}}
      </div>
      <div class="col-md-2 text-center">
        <a href="{{page_id}}?v={{page.key().id()}}">view</a>
        {% if user %}
          <a href="/_edit{{page_id}}?v={{page.key().id()}}">edit</a>
        {% endif %}
      </div>
    </div>
    <br>
  {% endfor %}
{% endblock %}